body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 30px;
}

input, button {
  width: 90%;
  max-width: 400px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  background: #1e90ff;
  color: #fff;
  cursor: pointer;
}

#login-box {
  max-width: 400px;
  margin: auto;
  background: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

