/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  transition: background 0.3s, color 0.3s;
}

/* TÍTULO */
.titulo-site {
  background-color: white;
  color: #1e90ff;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 25px;

  max-width: 1200px;
  margin-inline: auto;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* BOTÃO DARK */
#modo-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 999;
}

#modo-btn:hover {
  background-color: #1666c1;
}

/* GRID */
#noticias-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  align-items: stretch; /* garante que todos os cards da linha tenham mesma altura */
}

/* CARD */
.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; /* ocupa toda altura disponível no grid */
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform .3s, box-shadow .3s;
  animation: fadeInUp .5s forwards

.perfil img.emblema {
    width: 80px;  /* ou outro tamanho que achar ideal */
    height: 80px;
    border-radius: 50%;  /* mantém circular */
    object-fit: cover;
    margin-right: 10px; /* se quiser espaço entre imagem e texto */
}

